* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contFondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*z-index: 1;*/
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
.first{
    text-align: center;
}*/

div[class|="col"]{
    position: relative;
    top: 140px;
    height: 350px;
    /**/border:  1px solid #ffc107;
    text-align: center;
}

/* ||||||||||columna camara |||||||||||||||*/
/*
.marco{
    position: relative;
}*/

.contenido-cam-vanv1{
    /*top: 40%;*/
    height: 25vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    /*border: solid 1px red;*/
}

.contenido-cam-vanv2{
    /*top: 40%;*/
    height: 75vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    /*border: solid 1px red;*/
}

.cont-cam {
    /*position: absolute;*/
    position: absolute;
    /*top: 145px;
    right: 35vw;*/
    width: 160px;
    height: 110px;
    font-size: 20px;
    z-index: 2;
    top: 10px;
    left: 20px;
}

/*
.camara {
    position: absolute;
    margin-left: 54vw;
    margin-top: 30vh;
    z-index: 999;
    width: 230px;
    height: 250px;
    display: flex;
}*/

.camara {
    /*position: left;
    display: inline-block;
    position: absolute;*/
   
    /*width: 598px;
    height: 298px;*/
    width: 160px;
    height: 110px;
    
    
}

/*|||||||||||||||||canvas||||||||||||||||||||||||*/

.cont-canvas{
    position: absolute;
    display: flex;
    
    margin-top: 10px;
    left: 31.5%;
    z-index: 999;
}

.canvas {
    /*position: left;
    display: inline-block;
    position: absolute;
    
    display: inline-block;*/
    flex-direction: column;
    display: flex;
    width: 700px;
    height: 300px;
    
    
}

/*|||||||||||||||||canvas||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||*/

.btn-none{
    display: none;
}


.hidden {
    opacity: 0;
}

/****************
 *boton tomaqr foto*/
.button-tomar-foto {
    
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30%;
    position: absolute;
    /*bottom: 50px;*/
    top: 50px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;

}

.btnTomarFoto{
    color: white;
    background-color: rgba(114, 146, 206, 0.472);
    display: inline-block;
}

.btnTomarFoto img{
    width: 100px;
    height: 100px;
    display: inline-block;
}