* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.first{
    text-align: center;
}

div[class|="col"]{
    top: 140px;
    height: 350px;
    /**/border:  1px solid #ffc107;
}

.contenido-header2{
    background-image: url(../img/fondo.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /*background-attachment: fixed;*/
}


/*
*/
.contenido-header{
    
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}



.contFondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*z-index: 1;*/
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*contenedor grid*/
.cont-grid{
    
    position: absolute;
    z-index: 2;
}


.continfo {
    position: absolute;
    right: 40vw;
    width: 360px;
    height: 310px;
    font-size: 20px;
    z-index: 2;
}



.btn-none{
 display: none;
}

/*
.camara {
    position: absolute;
    margin-left: 54vw;
    margin-top: 30vh;
    z-index: 999;
    width: 230px;
    height: 250px;
    display: flex;
}*/

.camara {
    position: left;
    float: left;
    width: 600px;
    height: 300px;
    display: flex;
}

.foto {
    position: absolute;
    width: 350px;
    height: 300px;
    margin-left: 500px;
    background-size: 100% 100%;
    z-index: 10;
}
.canvas {
    position: left;
    float: left;
    /*margin-left: 46vw;
    margin-top: 35vh;*/
    width: 600px;
    height: 300px;
}

/**/
.btnTomarFoto{
    color: white;
    background-color: rgba(114, 146, 206, 0.472);
    display: inline-block;
}

.btnTomarFoto img{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.hidden {
    opacity: 0;
}

.button-tomar-foto {
    
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30%;
    position: absolute;
    /*bottom: 50px;*/
    top: 50px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;

}