* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contFondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*z-index: 1;*/
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
.first{
    text-align: center;
}*/

div[class|="col"]{
    position: relative;
    top: 140px;
    height: 350px;
    /**/border:  1px solid #ffc107;
    text-align: center;
}

/* ||||||||||columna camara |||||||||||||||*/
/*
.marco{
    position: relative;
}*/

.continfo {
    /*position: absolute;*/
    position: relative;
    /*top: 145px;
    right: 35vw;*/
    width: 360px;
    height: 310px;
    font-size: 20px;
    z-index: 2;
}

/*
.camara {
    position: absolute;
    margin-left: 54vw;
    margin-top: 30vh;
    z-index: 999;
    width: 230px;
    height: 250px;
    display: flex;
}*/

.camara {
    /*position: left;*/
    display: inline-block;
    position: absolute;
   
    width: 598px;
    height: 298px;
    right: 5%;
    
}

/*||||||||||||||||||||||||||||||||||||||||||*/

.btn-none{
    display: none;
}


.hidden {
    opacity: 0;
}

/****************
 *boton tomaqr foto*/
.button-tomar-foto {
    
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30%;
    position: absolute;
    /*bottom: 50px;*/
    top: 50px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;

}

.btnTomarFoto{
    color: white;
    background-color: rgba(114, 146, 206, 0.472);
    display: inline-block;
}

.btnTomarFoto img{
    width: 100px;
    height: 100px;
    display: inline-block;
}